.property{
    background-color: #fff ;
    margin-bottom: 30px;
    padding: 30px;
    box-shadow: 0 0 20px rgb(38 38 38 / 20%)
}
.addproperty{
    padding: 0px 30px;
    margin-top: 100px;
}
.property .property-form-group {
    padding: 0 50px;
}
.property .property-form-group .dz-message {
    background: #fff none repeat scroll 0 0;
    border: 2px dashed #1ABC9C;
    padding: 50px 20px;
    text-align: center;
}
.property .inner-pages .dz-default.dz-message > span {
    color: #1ABC9C;
    font-size: 20px;
    text-transform: capitalize;
}
.property .dz-default i {
    color: #1ABC9C;
    display: block;
    font-size: 60px;
    margin-bottom: 30px;
}
.media{
    margin-bottom: 40px;
}
@media (max-width: 576px){
    .property .property-form-group {
        padding: 0px;
    }
    }