.partner-area{
    background-color: white;
}
.pd-top-100 {
    padding-top: 100px;
}
.pd-bottom-100 {
    padding-bottom: 100px;
}
/* .partner-slider .thumb img {
    width: auto;
    margin: 0 auto;
} */

